/* 
    **
    **  关于el-menu 导航菜单的公用样式
    **
*/
.el-header{
    padding: 0 0;
    height: 70px !important;
}
.el-menu{
    background-color:transparent;
}
.el-menu-item{font-size: 16px;font-weight: 500;}
.el-menu.el-menu--horizontal{
    border-bottom:none;
}
.el-menu--horizontal>.el-menu-item{
    height: 70px;
    line-height: 70px;
}
.el-menu--horizontal>.el-menu-item.is-active{
    border-bottom:none;
    background-color: rgb(53, 58, 145);
}
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, 
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover{
    outline: none;
    background-color: rgb(53, 58, 145);
    color: #ffffff;
    border-bottom:none;
}