/* 
    **
    **  关于整个容器的公用样式
    **
*/
.main{width: 100%;height: 100%;}
.side-bar{float: left;}
.routerView{
    float: left;
    width: calc(100% - 260px);
    height: calc(100% - 40px);
    padding: 20px;
}


/* 
    **
    **  关于el-menu 导航菜单的公用样式
    **
*/
.el-header{
    padding: 0 0;
    height: 70px !important;
}

/* 
    **
    **  关于el-aside 左边容器的公用样式
    **
*/
.application, .side-bar{height: 100%;}




